* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 100%;
  margin: 50px auto 0px;
  color: white;
  background: rgb(3, 0, 177);
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 100%; 
  margin: 0px auto; 
  padding: 10px; 
  color: #000000; 
  background: #d40c0c; 
  border-radius: 3px; 
  text-align: center;
}
.success {
  width: 100%; 
  margin: 0px auto; 
  padding: 10px; 
  color: #000000; 
  background: #19dd5a; 
  border-radius: 3px; 
  text-align: center;
}

.dropbtn {
  background-color: rgb(42, 71, 201);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #B0C4DE;;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

body{
  color: rgb(46, 11, 141);
  font: Monaco;
}
